body {
		background-color:silver;
		font-family:arial,helvetica, sans-serif;
	}
h1 {
		background-color:black;
		color:white;
		font-weight:900;
		text-decoration:underline;
		text-align:center;
		margin:80px;
		margin-bottom:0px;
		margin-top:0px;
		letter-spacing:14px;
	}
p {
		font-size:16pt;
		text-align:center;
		font-weight:800;
		line-height:21px;
	}
h3 {
		background-color:black;
		color:white;
		font-weight:800;
		text-decoration:underline;
		text-align:center;
		margin:80px;
		margin-bottom:0px;
		margin-top:0px;
	}
ul {
		border:5px solid black;
		border-left-width:80px;
		border-right-width:80px;
		padding:20px;
		border-radius:15px;
		text-align:center;
		font-size:18pt;
     }
